body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url(../recursos/fondo1.jpg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }
  
  .navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 30px;
    z-index: 9999;
  }
  
  .navbar-brand a {
    color: #fff;
    font-weight: bold;
    text-decoration: none;
  }
  
  .navbar-toggle {
    background-color: transparent;
    border: none;
    color: #fff;
    font-size: 20px;
    cursor: pointer;
    display: none;
  }
  
  .navbar-menu {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  .navbar-menu li {
    margin-left: 16px;
  }
  
  .navbar-menu li:first-child {
    margin-left: 0;
  }
  
  .navbar-menu li a {
    color: #fff;
    text-decoration: none;
  }
  
  .content {
    padding: 40px;
    text-align: center;
  }
  
  .content h1 {
    margin: 0;
    margin-top: 300px;
    color: white;
  }
  .dropdown-menu,
  .dropdown-menu2 {
    display: none;
    list-style: none;
    padding: 0;
  }
  
  .dropdown:hover .dropdown-menu,
  .dropdown:hover .dropdown-menu2 {
    display: block;
  }
  
  .dropdown-menu li,
  .dropdown-menu2 li {
    text-align: justify;
    margin-bottom: 5px; 
  }
  
  
  
  @media screen and (max-width: 600px) {
    .navbar {
      flex-wrap: wrap;
      padding: 16px;
    }
  
    .navbar-brand,
    .navbar-menu {
      flex-basis: 100%;
      text-align: center;
    }
  
    .navbar-toggle {
      display: block;
    }
  
    .navbar-menu {
      display: none;
      flex-direction: column;
      padding-top: 16px;
    }
  
    .navbar-menu.active {
      display: flex;
    }
  
    .navbar-menu li {
      margin: 10px 0;
    }
  }